<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link btn btn-outline-warning"
					th:href="@{/tickets}">List Tickets</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>


	<div class="container">
		<div class="row">
			<h1>List Tickets</h1>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
                    <th>Ticket Created On</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ticket: ${tickets}">
					<td th:text="${ticket.title}"></td>
					<td th:text="${ticket.description}"></td>
					<td th:text="${ticket.CreatedOn}"></td>
				</tr>
				 
			</tbody>
		</table>


	</div>
</body>
</html>